{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
    {% if link and link.parameters is defined and link.linkType != "none" %}
        {% set url = vic_link_url(link.parameters|merge({"referenceType" : true})) %}
    {% else %}
        {% set url = app.request.getSchemeAndHttpHost() ~ app.request.requesturi %}
    {% endif %}
    {% if facebookEnabled %}<span st_url="{{ url }}" class='st_facebook_hcount' ></span>{% endif %}
    {% if twitterEnabled %}<span st_url="{{ url }}" st_via="{% if twitterVia is defined and twitterVia %}{{ twitterVia }}{% endif %}" class='st_twitter_hcount' displayText='Tweet'></span>{% endif %}
    {% if bufferEnabled %}<span st_url="{{ url }}" class='st_buffer_hcount' displayText='Buffer'></span>{% endif %}
    {% if googleplusEnabled %}<span st_url="{{ url }}" class='st_plusone_hcount' displayText='Google +1'></span>{% endif %}
    {% if linkedinEnabled %}<span st_url="{{ url }}" class='st_linkedin_hcount' displayText='LinkedIn'></span>{% endif %}
    {% if viadeoEnabled %}<span st_url="{{ url }}" class='st_viadeo_hcount' displayText='Viadeo'></span>{% endif %}
    {% if pinterestEnabled %}<span st_url="{{ url }}" class='st_pinterest_hcount' displayText='Viadeo'></span>{% endif %}
    {% if emailEnabled %}<span st_url="{{ url }}" class='st_email_hcount' displayText='Email'></span>{% endif %}
    {% if shareThisEnabled %}<span st_url="{{ url }}" class='st_sharethis_hcount' displayText='ShareThis'></span>{% endif %}
</div>


<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "{{ shareThisPubKey }}", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
{% endblock content %}